* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
html,body{
    height: 100vh;
}
.box {
    width: 100%;
    height: 100%;
}
.sky {
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, rgb(196, 228, 253) 0%,rgb(255,255,255) 100%);
    position: relative;
}
.grass {
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgb(148, 190, 89) 0%,rgb(255,255,255) 100%);

}
/* 云 */
.cloud {
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 20px / 25px 25px 25px 25px;
    right: -100px;
}
.cloud::before{
    content: '';
    width: 44px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 5px;
    transform: rotate(-10deg);
}
.cloud::after{
    content: '';
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius:50%;
    position: absolute;
    top: -25px;
    right: 6px;
}
/* 云的位置 */
.one {
    position: absolute;
    top: 70px;
    animation: cloudOne 10s ease-out infinite 3s;
}
.two {
    position: absolute;
    top: 120px;
    transform: scale(.7);
    opacity: .7;
    animation: cloudOne 12s ease-out infinite 2s;
}
.three {
    position: absolute;
    top: 15px;
    transform: scale(.7);
    animation: 15s cloudOne ease-out infinite 2s;
}
.four {
    position: absolute;
    top: 50px;
    transform: scale(.7);
    animation: 18s cloudOne ease-out infinite 5s;
}
.five {
    position: absolute;
    top: 180px;
    transform: scale(.6);
    opacity: .6;
    animation: 20s cloudOne ease-out infinite;
}
/* 兔子的位置 */
.rabbit {
    width: 200px;
    height: 200px;
    background: url(../image/rabbit.png) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    right: 200px;
    bottom: 50px;
}

@keyframes cloudOne{
    0%{right: -100px;}
    100%{right: 100%;}
}